<h1>Listing stasiuns</h1>

<table>
  <tr>
    <th>Kode</th>
    <th>Nama</th>
    <th></th>
    <th></th>
  </tr>

<% @stasiuns.each do |stasiun| %>
  <tr>
    <td><%= stasiun.kode %></td>
    <td><%= stasiun.nama.titleize %></td>
    <td><%= link_to 'Show', stasiun %></td>
    <td><% link_to 'Destroy', stasiun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
